---
version: '3.3'

services:
  web:
    image: nginx:1.21.4
    volumes:
      - ./img/:/usr/share/nginx/html/img
    command: [nginx-debug, '-g', 'daemon off;']
    ports:
    - "80:80"
    environment:
    - NGINX_HOST=foobar.com
    - NGINX_PORT=80
    
  proxy:
    image: dockerbar/image-previewer:v0.0.2
    ports:
    - "8081:8081"