name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GO111MODULE: "on"
  
jobs:
  go_get:
    runs-on: ubuntu-latest

    steps:
      - name: Extract branch name
        run: echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: ^1.16

      - name: go get
        run: cd /tmp && go get -v "github.com/${GITHUB_REPOSITORY}/${BRANCH}@${BRANCH}"
        
  lint:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.ref, 'calendar') }}
    steps:
      - name: Extract branch name
        run: echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Check out code
        uses: actions/checkout@v2

      - name: Linters
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.40
          working-directory: ${{ env.BRANCH }}

  tests:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.ref, 'calendar') }}
    steps:
      - name: Extract branch name
        run: echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Check out code
        uses: actions/checkout@v2

      - name: Unit tests
        run: go test -v -count=1 -race -timeout=1m ./...
        working-directory: ${{ env.BRANCH }}

      - name: Optimization tests
        run: go test -v -count=1 -timeout=1m -tags bench ./...
        if: env.BRANCH == 'hw10_program_optimization'
        working-directory: ${{ env.BRANCH }}

      - name: Bash tests
        shell: bash
        run: ./test.sh
        if: contains('hw01_hello_otus hw07_file_copying hw08_envdir_tool hw11_telnet_client', env.BRANCH)
        working-directory: ${{ env.BRANCH }}
        
  tests_by_makefile:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Check out code
        uses: actions/checkout@v2

      - name: make lint
        run: make lint

      - name: make build
        run: make build

      - name: make test
        run: make test
          
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Setup Go environment  
#       uses: actions/setup-go@v2.1.4
#       with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
#         go-version: ^1.16 # optional

#     - name: configure
#       run: ./configure
      
#     - name: Install dependencies
#       run: make
      
#     - name: Run check
#       run: make check
      
#     - name: Run distcheck
#       run: make distcheck
      

